@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: android;
    src: url('../fontes/idroid.otf') format('opentype');
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android:'android', cursive;
}
*{
    margin: 0px; /*desbugou o cabeçalho*/
    padding: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: "\00A0\1F517";
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px; /* afasta o texto da parte de cima e consertou o cabeçalho*/
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.589);
}
header>h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
}
header>p{
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    max-width: 600px;  /*para limitar o texto e centralizá-lo*/
    margin:auto;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.274);
}
nav>a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s; /*duração da transição de 1segundo*/
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor2), transparent); /*degradê do verde para transparente*/
    text-indent: 8px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;  /*tamanho da letra*/
    line-height: 2em; /*altura entre linhas*/
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    
}
main a{
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor2);
    color: var(--cor5);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block; /* uma imagem não é um bloco, para torná-la é desse jeito*/
    margin: auto; /*para centralizar a imagem*/
}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px; /* top, right, bottom, left*/
    padding: 20px; 
    padding-bottom: 56.8%;  /*para o vídeo ficar sem as barras pretas*/
    position: relative;
}
div.video >iframe{
    position: absolute; /*para poder mecher no top e no left*/
    top: 5%;   /*para o video ficar afastado na parte de cima e centralizar*/
    left: 5%;  /*para o video ficar afastado na esquerda e centralizar*/
    width: 90%;  
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.336);
}
aside > h3{  /*encaixando o título no aside*/
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /*crescendo as margens pra cima e pros lados*/
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714'; /*troca o seletor(bolinha) da lista - não é compatível com todos os navegadores*/
    list-style-position: inside; /*posição das bolinhas da lista para dentro da caixa(box) aside*/
    columns: 2; /* divide a lista em 2 colunas*/
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 1em;
}
footer a{ /*poderia ser footer > p > a também*/
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor3);
}